extends ../layout

block content
  div(class='breadcrumb')
    div= title
  div.list-group
    div.list-group-item
      span(class='list-icon glyphicon glyphicon-briefcase')
      a(href='/planet') Planet
      br
      span(class='list-icon glyphicon glyphicon-briefcase')
      a(href='/station') Station
      br
      span(class='list-icon glyphicon glyphicon-briefcase')
      a(href='/cargo') Cargo
